<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find collvoid_turtlebot)/map/smartlab_arena.yaml" output="screen"/>

  <rosparam command="load" file="$(find collvoid_turtlebot)/goals_tb_lab.yaml"/>
  <node pkg="collvoid_controller" type="controller.py" name="controller_robots" output="screen" />

  <node pkg="collvoid_controller" type="collvoid_visualizer.py" name="collvoid_viz" output="screen" />
  <include file="$(find collvoid_turtlebot)/launch/includes/lcm_controller.launch" />
  <node pkg="rviz" type="rviz" name="rviz" />

</launch>
  
