<launch>
  <!-- configure the transform for hokuyo -->
  <node pkg="tf" type="static_transform_publisher" name="front_hokuyo_frame" 
     	args="0 0 0 0.7853981 0 3.1415926  base_link laser 100" />

  <!-- Run self-filter -->
  <node name="laser_filter"  pkg="turtlebot_navigation" type="laser_footprint_filter">
    <param name='base_link' value='laser' />
  </node>

  <!-- start hokuyo laser -->
  <node pkg="hokuyo_node" type="hokuyo_node" name="base_laser" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="frame_id" value="laser"/>
    <param name="min_ang" value="-2.086213"/>
    <param name="max_ang" value="2.086213"/>
    <remap from="scan" to="scan"/>
  </node>
</launch>


