<launch>

  <!--- Run Robot Pose EKF -->
  <include file="$(find collvoid_turtlebot)/launch/base.launch" />

  <!--- Run the kinect -->
  <include file="$(find collvoid_turtlebot)/launch/kinect.launch" /> 
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find collvoid_turtlebot)/world/maplarge.yaml" output="screen"/>

  <!-- Run the laser -->
  <include file="$(find collvoid_turtlebot)/launch/hokuyo.launch" />

  <!--- Run AMCL -->
  <include file="$(find collvoid_turtlebot)/launch/amcl_turtlebot.launch"/> 

  <!--- Run Controller -->
  <rosparam command="load" file="$(find collvoid_controller)/goals.yaml"/>
  <node pkg="collvoid_controller" type="controllerRobots.py" name="controller_robots" output="screen" />

  <!--- Run collvoid -->
  <rosparam command="load" file="$(find collvoid_turtlebot)/params/params_created.yaml"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam command="load" file="$(find collvoid_turtlebot)/params/params_turtle.yaml"/>
    <param name="base_local_planner" value="collvoid_local_planner/CollvoidLocalPlanner" />
    <remap from="/cmd_vel" to="/turtlebot_node/cmd_vel"/>
  </node>



</launch>
