<launch>
  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen"> 
  </node>

  <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen"> 
    <rosparam command="load" file="$(find collvoid_turtlebot)/params/multimaster_config.yaml" />
  </node>

  <!-- <include file="$(find udp_multicast)/receiver.launch" /> -->


</launch>
