<launch>
  <arg name="master" />

  <node pkg="multimaster" type="master_sync.py" name="master_sync" output="screen"> 
    <param name="foreign_master" value="http://$(arg master):11311" />      
    <rosparam command="load" file="$(find collvoid_pr2)/params/config.yaml" />
  </node>

  <include file="$(find collvoid_pr2)/launch/pr2_master.launch" />

</launch>
