<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find collvoid_stage)/world/maplarge.yaml"/>
  <node pkg="stage" type="stageros" name="stageros" args="$(find collvoid_stage)/world/willow_full.world" respawn="false" output="screen" />
  <include file="$(find collvoid_stage)/launch/amcl_omni_single.launch">
  </include>
  <rosparam command="load" file="$(find collvoid_stage)/params_created.yaml"/>

  <node pkg="collvoid_controller" type="controller_robots.py" name="controller_robots" output="screen" />
  <node pkg="collvoid_controller" type="controller.py" name="controller" output="screen" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="footprint_padding" value="0.01"/>
    <param name="controller_patience" value="3.0"/>
    <param name="oscillation_timeout" value="30.0"/>
    <param name="oscillation_distance" value="0.5"/>
    <rosparam command="load" file="$(find collvoid_stage)/params/params_pr2.yaml"/>
    <rosparam command="load" file="$(find collvoid_stage)/params/collvoid_config.yaml"/>

    <param name="base_local_planner" value="collvoid_local_planner/CollvoidLocalPlanner" />
    <param name="base_global_planner" value="collvoid_simple_global_planner/CollvoidSimpleGlobalPlanner" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find collvoid_stage)/single_view.vcg" output="screen" />

</launch>
  
