<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find collvoid_stage)/world/swarmlab_map.yaml"/>
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find collvoid_stage)/world/swarmlab_single_turtle.world" respawn="false" output="screen" />
  <include file="$(find collvoid_stage)/launch/amcl_diff_single.launch">
  </include>
  <rosparam command="load" file="$(find collvoid_stage)/params_created.yaml"/>
  <rosparam command="load" file="$(find collvoid_controller)/goals.yaml"/>

  
  <node pkg="collvoid_controller" type="controller_robots.py" name="controller_robots" output="screen" />
  <node pkg="collvoid_controller" type="controller.py" name="controller" output="screen" />

  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="footprint_padding" value="0.01"/>
    <param name="controller_frequency" value="10.0"/>
    <param name="controller_patience" value="3.0"/>
    <param name="oscillation_timeout" value="30.0"/>
    <param name="oscillation_distance" value="0.5"/>

    <rosparam command="load" file="$(find collvoid_stage)/params/params_turtle.yaml"/>
    <rosparam command="load" file="$(find collvoid_stage)/params/collvoid_config.yaml"/>

    <param name="base_local_planner" value="collvoid_dwa_local_planner/DWAPlannerROS" />
    <!-- <param name="base_global_planner" value="collvoid_simple_global_planner/CollvoidSimpleGlobalPlanner" /> -->

  </node>

  <rosparam command="load" file="$(find collvoid_stage)/params/me_publisher_turtle.yaml"/>
  <param name="collvoid/base_frame" value="base_link" />
  
  <node pkg="collvoid_local_planner" type="MePublisher" name="me_publisher" output="screen" />
  <node pkg="collvoid_controller" type="position_share_controller.py" name="position_share_controller" output="screen" />

  <!-- <node pkg="collvoid_local_planner" type="Helper" name="helper" output="screen" /> -->

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find collvoid_stage)/single_view.rviz" output="screen" />

</launch>
  
